travelontip-externalsystem/src/main/mule/Global/travelontip-externalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracing="http://www.mulesoft.org/schema/mule/tracing" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tracing http://www.mulesoft.org/schema/mule/tracing/current/mule-tracing.xsd">
	<flow name="travelontip-externalsystem" doc:id="421bacb4-0fa9-4d65-a425-930e86c42614" >
		<http:listener doc:name="Listener" doc:id="ea344aac-c3c9-47de-958e-8ffc730c196c" path="/travelOnTip/{serviceType}" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="To get transactionId" doc:id="67d102c2-f998-4a7f-94c9-f95127549033">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="serviceType"><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.serviceType]]></ee:set-variable>
				<ee:set-variable variableName="transactionId"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Before request" doc:id="da51a705-9ad4-4f6e-b46f-79e85f6da646" message="Request for travel on tip for transaction id #[vars.transactionId]"/>
		<choice doc:name="Choice" doc:id="080a5a5b-6ad6-4b86-a497-5b539dcbc92a" >
			<when expression='#[vars.serviceType == "routes"]'>
				<logger level="INFO" doc:name="Impl flow started" doc:id="3a9a7012-ec56-4438-8772-388df6a77056" message="Routes flow"/>
				<flow-ref doc:name="reference to GetRoutes flow" doc:id="8ff6149a-215d-4797-a0fc-721375ac9cce" name="travelOnTip-GetRoutes-ImplSub_Flow"/>
			</when>
			<when expression='#[vars.serviceType == "schedules"]'>
				<logger level="INFO" doc:name="Impl flow started" doc:id="6f9554fd-1979-4865-b8e1-a5d1056c70f6" message="schedule flow is called"/>
				<flow-ref doc:name="reference to get schedules flow" doc:id="dec0afa9-ed05-419f-9c18-42d1fec23669" name="travelOnTip-GetSchedules-ImplSub_Flow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="default log" doc:id="7016456b-42c6-4757-b62e-5b956ead2ebe" message="default log" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Impl flow ended" doc:id="bc399bbd-d055-4b73-9c04-dba403295808" message="Response from Travel on Tip System API for #[vars.transactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f1e00432-d932-463e-8d2a-4787238df902" >
				<logger level="INFO" doc:name="Logger" doc:id="4fa17d4c-51f3-4911-99cb-bd29a32494e4" message="Error while calling travel on tip system for transaction id #[attributes.headers.transactionId]"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
